name: cross-platform_build
on:
  push:
    branches:
      - main
env:
  APP_NAME: subterfuge

jobs:
  macos:
    runs-on: macos-15
    
    steps:
    - uses: actions/checkout@v5

    - run: curl -fsSL https://fvm.app/install.sh | bash
    
    - run: fvm install
    - run: fvm flutter pub get
    - run: fvm dart run build_runner build --delete-conflicting-outputs
    - run: fvm flutter precache --macos
    - run: cd macos && pod install --repo-update && cd -

    - run: fvm flutter config --enable-macos-desktop
    - run: fvm flutter build macos --release
   
    - name: Upload macOS artifact
      uses: actions/upload-artifact@v4
      with:
          name: ${{ env.APP_NAME }}-macos.app
          path: build/macos/Build/Products/Release/${{ env.APP_NAME }}.app

  android:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - run: curl -fsSL https://fvm.app/install.sh | bash
      
      - run: fvm install
      - run: fvm flutter pub get
      - run: fvm dart run build_runner build --delete-conflicting-outputs
      - run: fvm flutter build apk --release

      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APP_NAME }}-android.apk
          path: build/app/outputs/flutter-apk/app-release.apk

  linux-x64:
    runs-on: ubuntu-24.04
    
    steps:
    - uses: actions/checkout@v5

    - run: sudo apt-get install build-essential libgtk-3-dev
    - run: curl -fsSL https://fvm.app/install.sh | bash

    - run: fvm install
    - run: fvm flutter pub get
    - run: fvm dart run build_runner build --delete-conflicting-outputs
    - run: fvm flutter config --enable-linux-desktop
    - run: fvm flutter build linux --release --target-platform=linux-x64

    - name: Upload Linux x64 artifact
      uses: actions/upload-artifact@v4
      with:
          name: ${{ env.APP_NAME }}-linux-x64
          path: build/linux/x64/release/bundle/${{ env.APP_NAME }}

  linux-arm64:
    runs-on: ubuntu-24.04-arm
    
    steps:
    - uses: actions/checkout@v5

    - run: sudo apt-get install build-essential libgtk-3-dev
    - run: curl -fsSL https://fvm.app/install.sh | bash
    
    - run: fvm install
    - run: fvm flutter pub get
    - run: fvm dart run build_runner build --delete-conflicting-outputs
    - run: fvm flutter config --enable-linux-desktop
    - run: fvm flutter build linux --release --target-platform=linux-arm64

    - name: Upload Linux arm64 artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.APP_NAME }}-linux-arm64
        path: build/linux/arm64/release/bundle/${{ env.APP_NAME }}

  windows:
    runs-on: windows-2025
    
    steps:
    - uses: actions/checkout@v5

    - run: choco install fvm
    - run: fvm install
    - run: fvm flutter pub get
    - run: fvm dart run build_runner build --delete-conflicting-outputs
    
    - run: fvm flutter config --enable-windows-desktop
    - run: fvm flutter build windows --release

    - name: Upload Windows artifact
      uses: actions/upload-artifact@v4
      with:
          name: ${{ env.APP_NAME }}-windows-x64
          path: build\windows\x64\runner\Release
